.navLink {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.price {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.ingredientName {
  margin: 0 auto;
  text-align: center;
}