.content {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.ordersWrapper {
  display: flex;
  justify-content: space-between;
  gap: 36px;
  width: 580px;
}

.ordersList {
  width: 272px;
  max-height: 152px;
  display: flex;flex-direction: column;
  flex-wrap: wrap;
}


