.sideNavButton {
  height: 64px;
  padding-top: 17px;
  padding-bottom: 17px;
  text-decoration: none;
  color: var(--text-inactive-color);
}

.sideNavButton:hover {
  color: var(--text-primary-color);
  transition: color .5s ease-in-out;
}

.active {
  color: white;
}
